/.settings
/.project
/micro4j-mvc/target
/micro4j-mvc/dependency-reduced-pom.xml
/micro4j-samples/.project
/micro4j-samples/.settings
/micro4j-samples/micro4j-mvc-sample/.project
/micro4j-samples/micro4j-mvc-sample/.settings
/micro4j-samples/micro4j-mvc-sample/target
/micro4j-samples/micro4j-mvc-sample/.classpath
/micro4j-maven-plugin/.project
/micro4j-maven-plugin/.settings
/micro4j-maven-plugin/target
/micro4j-maven-plugin/.classpath
/micro4j-persistence/.project
/micro4j-persistence/.settings
/micro4j-persistence/target
/micro4j-persistence/.classpath
