<div>
    <title>Page 2</title>
    <h1>{{#i18n}}page2{{/i18n}}</h1>
    <p>Nullam quis odio euismod, consectetur nisi eget, varius nunc.
        Aenean a fringilla dui, nec ultrices ligula. Aliquam tincidunt ex sit
        amet ligula condimentum, quis finibus tortor eleifend. Integer aliquam
        scelerisque mi vitae scelerisque. Morbi mattis viverra hendrerit.
        Mauris iaculis odio vel nisl suscipit, non sollicitudin nisi sodales.
        Ut ac justo in velit pharetra molestie. Phasellus tincidunt metus
        nunc. Donec bibendum placerat auctor. Duis a molestie ante. Nulla
        porttitor euismod fringilla. Quisque semper at arcu a eleifend.
        Phasellus varius auctor ex et lobortis. Etiam tortor ipsum, feugiat
        sit amet imperdiet a, scelerisque vitae arcu.</p>
    <p>Duis viverra, elit fringilla condimentum tincidunt, diam ante
        sollicitudin nulla, interdum imperdiet ipsum neque vitae nulla.
        Praesent faucibus lacus non sapien porttitor volutpat. Phasellus
        tempor volutpat dui, finibus imperdiet nulla. Aliquam pulvinar mi
        gravida magna molestie, et lobortis dolor tempor. In hac habitasse
        platea dictumst. Nulla posuere rutrum mauris, a ultricies nisi porta
        ut. Etiam faucibus vitae velit ut interdum. Sed dignissim sed nisl ut
        volutpat. In nisi diam, sollicitudin at massa vitae, pulvinar
        fringilla neque. Ut ornare enim turpis, non pretium dui posuere nec.
        Fusce eget mauris eget enim rhoncus euismod. Vestibulum eu elit
        fermentum mauris sagittis faucibus. Ut nisi risus, gravida quis turpis
        at, molestie cursus elit. Integer augue eros, elementum sed volutpat
        sed, sodales id orci.</p>
</div>
