<div>
    <title>Page 1</title>
    <h1>{{#i18n}}page1{{/i18n}}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
        lobortis lorem id massa sodales, nec hendrerit augue elementum.
        Vivamus sagittis enim quis eros tempor, in vulputate lacus fermentum.
        Nullam eget maximus sapien. Praesent nec erat et nulla efficitur
        condimentum. Quisque rutrum sem sed orci vestibulum semper. Morbi
        malesuada felis sed nisl dapibus, tincidunt pellentesque tortor
        pretium. Ut et fringilla nisl, sed elementum lectus. Nulla facilisi.</p>
    <p>Aenean ac nisl eu mauris elementum consectetur. Integer in
        sagittis elit. Aenean at faucibus mauris. Cras et nunc at mi efficitur
        egestas sit amet eget lectus. Cras sit amet leo ac libero luctus
        posuere ac sed mi. Morbi at tellus vitae orci consequat lobortis in a
        urna. Ut in congue risus. Suspendisse dignissim sem in enim molestie
        mattis.</p>
</div>
